section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main img{
    max-width: 20%;
}

main svg{
    max-width: 20%;
}

main section:nth-of-type(1) {
    background-color: whitesmoke;
    padding: 5%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 0px; /* <uit de code van de originele website gehaald*/
    
}

main section:nth-of-type(1) a:nth-of-type(1) { /*Terug naar zoekresultaten*/
    color: #F2059F;
    text-decoration: underline #F2059F;
    text-underline-offset: .1em;
}

main section:nth-of-type(1) a:nth-of-type(2) { /*roze button met pijltje naar links*/
    max-width: 10%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-decoration: none;
    color: #F2059F;
    padding-left: 5%;
}

main section:nth-of-type(1) a:nth-of-type(3) { /*roze button met pijltje naar rechts*/
    max-width: 10%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: none;
    color: #F2059F;
    text-decoration: none;
    padding-left: 80%;
}

main section:nth-of-type(1) p:nth-of-type(1) { /*resultaat 5 van 847*/
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: -1;
    padding-left: 15%;
    padding-right: 0;
}

main section:nth-of-type(1) img:nth-of-type(1) { /*foto met het boek*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

main section:nth-of-type(1) a:nth-of-type(4) { /*Gareth, Brown*/
    grid-column-start: -1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

main section:nth-of-type(1) h2:nth-of-type(1) { /*The book of doors*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

main section:nth-of-type(1) svg:nth-of-type(1) { /*svg boek*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
}

main section:nth-of-type(1) p:nth-of-type(2) { /*Boek - Engels - 2025 - 497 pagina's; 20 cm*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

main section:nth-of-type(1) img:nth-of-type(2) { /*science-fiction foto*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}

main section:nth-of-type(1) p:nth-of-type(3) { /*science fiction tekst*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    padding-left: 20%;
}

main section:nth-of-type(1) img:nth-of-type(3) { /*thriller foto*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
}

main section:nth-of-type(1) p:nth-of-type(4) { /*thriller tekst*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
    padding-left: 20%;
}

main:nth-of-type(1) a:nth-of-type(5) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
    height: 5em;
}

main section:nth-of-type(1) a:nth-of-type(5) img{
    width: 5em;
    aspect-ratio: 1;
}

main section:nth-of-type(1) p:nth-of-type(5) { /*2 stem(men)*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
}

main section:nth-of-type(1) h3:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
}

footer {
    background-color: black;
    color: white;
}

