
main section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

main svg{
    max-width: 20%;
}

main section:nth-of-type(1) {
    background-color: var(--witte);
    padding: 5%;
    margin: 5%;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 0px; /* <uit de code van de originele website gehaald*/
}

main section:nth-of-type(1) a:nth-of-type(1) { /*Terug naar zoekresultaten*/
    color: var(--klikbaar);
    text-decoration: underline var(--klikbaar);
    text-underline-offset: .1em;
    padding: 1rem;
}

main section:nth-of-type(1) a:nth-of-type(2) { /*roze button met pijltje naar links*/
    max-width: 10%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-decoration: none;
    color: var(--klikbaar);
    padding-left: 5%;
}

main section:nth-of-type(1) a:nth-of-type(3) { /*roze button met pijltje naar rechts*/
    max-width: 10%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--klikbaar);
    text-decoration: none;
    padding-left: 95%;
}

main section:nth-of-type(1) p:nth-of-type(1) { /*resultaat 5 van 847*/
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: -1;
    padding-right: 0;
    justify-self: center;
    padding: 1rem;
}

main section:nth-of-type(1) img:nth-of-type(1) { /*foto met het boek*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

main section:nth-of-type(1) a:nth-of-type(4) { /*Gareth, Brown*/
    grid-column-start: -1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
    color: var(--klikbaar);
    text-decoration: underline;
    margin: 1rem;
}

main section:nth-of-type(1) h2:nth-of-type(1) { /*The book of doors*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

main section:nth-of-type(1) svg:nth-of-type(1) { /*svg boek*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin: 2rem;
}

main section:nth-of-type(1) p:nth-of-type(2) { /*Boek - Engels - 2025 - 497 pagina's; 20 cm*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    margin: 1rem;
}

main section:nth-of-type(1) img:nth-of-type(2) { /*science-fiction foto*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}

main section:nth-of-type(1) p:nth-of-type(3) { /*science fiction tekst*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
    padding-left: 20%;
}

main section:nth-of-type(1) img:nth-of-type(3) { /*thriller foto*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
}

main section:nth-of-type(1) p:nth-of-type(4) { /*thriller tekst*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
    padding-left: 20%;
}

main:nth-of-type(1) a:nth-of-type(5) { /*de sterren*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
    height: 5em;
}

main section:nth-of-type(1) a:nth-of-type(5) img{
    max-width: 70%;
}

main section:nth-of-type(1) p:nth-of-type(5) { /*2 stem(men)*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
}

main section:nth-of-type(1) h3:nth-of-type(1) { /*onderwerp*/
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
}

main section:nth-of-type(1) ul:nth-of-type(1) { /*lijst met boeken,demonen,magie,goed en kwaad*/
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 12;
    grid-row-end: 13;
    display: flex;
    justify-content: flex-start;
}

main section:nth-of-type(1) ul:nth-of-type(1) li{ /*de aparte list items aangesproken van het stukje: boeken,demonen,magie,goed en kwaad*/
    padding-right: 5%;
}

main section:nth-of-type(1) h3:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 13;
    grid-row-end: 14;
}

main section:nth-of-type(1) p:nth-of-type(6) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 14;
    grid-row-end: 15;
}

main section:nth-of-type(1) button:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 15;
    grid-row-end: 16;
    border-style: none;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

@media (hover: hover) {
    /* when hover is supported */
    main section:nth-of-type(1) button:nth-of-type(1):hover {
      color: var(--witte);
      background-color: var(--lichtgrijs);
      text-decoration: none;
      transition: 0.5s;
    }
}

main section:nth-of-type(1) button:nth-of-type(2) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 16;
    grid-row-end: 17;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}

@media (hover: hover) {
    /* when hover is supported */
    main section:nth-of-type(1) button:nth-of-type(2):hover {
      color: var(--witte);
      background-color: var(--lichtgrijs);
      border-color: var(--lichtgrijs);
      text-decoration: none;
      transition: 0.5s;
    }
}

main section:nth-of-type(1) button:nth-of-type(2) img{ /*icon van een lijstje*/
   height: 3vh;
   align-self: flex-start;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main section:nth-of-type(2) nav{
    background: var(--witte);
}

main section:nth-of-type(2) ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}

main section:nth-of-type(2) ul li:nth-of-type(1) a{
    color: var(--witte);
}

main section:nth-of-type(2) ul li:nth-of-type(1) div h2{
    display: flex;
    justify-self: flex-start;
    font-weight:normal;
    font-size: large;
    margin: 1rem;
}

main section:nth-of-type(2) ul li:nth-of-type(1) table{
    width: 100%;
    padding: 1rem;
}

main section:nth-of-type(2) ul li:nth-of-type(1) th{
    padding: 1rem;
    border-bottom: solid var(--lichtgrijs);
}

main section:nth-of-type(2) ul li:nth-of-type(1) td{
    padding: 1rem;
    border-bottom: solid var(--lichtgrijs);
}

main section:nth-of-type(2) ul li:nth-of-type(2) table{
    padding: 1rem;
}

main section:nth-of-type(2) ul li:nth-of-type(2) td{
    border-bottom: solid var(--lichtgrijs);
}

main section:nth-of-type(2) ul li:nth-of-type(2) th{
    padding: 2rem;
    display: flex;
    justify-content: flex-start;
}

main section:nth-of-type(2) ul li:nth-of-type(2) a{
    color: var(--klikbaar);
}

main section:nth-of-type(2) ul li:nth-of-type(3) a{
    background-color: var(--lichtblauw);
    font-weight: 700;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    align-content: center;
    border-radius: 5px;
}

main section:nth-of-type(2) ul li:nth-of-type(3) p{
    background-color: var(--lichtblauw);
    padding: 1rem;
    margin: 2rem;
}

main section:nth-of-type(2) ul li:nth-of-type(4) p{
    background-color: var(--lichtblauw);
    padding: 1rem;
    margin: 2rem;
    display: flex;
    align-content: center;
    border-radius: 3px;
}

main section:nth-of-type(2) ul li:nth-of-type(5) a{
    background-color: var(--lichtblauw);
    font-weight: 700;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    align-content: center;
    border-radius: 5px;
}

main section:nth-of-type(2) ul li:nth-of-type(5) p{
    background-color: var(--lichtblauw);
    padding: 1rem;
    margin: 2rem;
    display: flex;
    align-content: center;
    border-radius: 3px;
}

main section:nth-of-type(2) ul li label{
   position: relative;
   isolation: isolate;
   color: var(--zwart);
   border-radius: 5px;
   margin: 5px;
}

main section:nth-of-type(2) ul li label input{
    background-color: var(--lichtgrijs);
    color: var(--zwart);
    position: absolute;
    top: 0;
    left: 0;
    appearance: none;
    height: 100%;
    width: 100%;
    z-index: -1;
}

main section:nth-of-type(2) ul li label input:checked{
    background-color: var(--klikbaar);
    color: var(--zwart);
    border-radius: 5px;
}


main section:nth-of-type(2) > ul li {
    display: none;
}

main section:nth-of-type(2):has(li:nth-of-type(1) input:checked) > ul li:nth-of-type(1){
    display: grid;
}

main section:nth-of-type(2):has(li:nth-of-type(2) input:checked) > ul li:nth-of-type(2){
    display: block;
}

main section:nth-of-type(2):has(li:nth-of-type(3) input:checked) > ul li:nth-of-type(3){
    display: block;
}

main section:nth-of-type(2):has(li:nth-of-type(4) input:checked) > ul li:nth-of-type(4){
    display: block;
}

main section:nth-of-type(2):has(li:nth-of-type(5) input:checked) > ul li:nth-of-type(5){
    display: block;
}

main section:nth-of-type(3) h2{
    justify-content: flex-start;
}

main section:nth-of-type(3) ul {
    list-style: none;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    overflow-x: auto;
    anchor-name: --carousel;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

main section:nth-of-type(3) ul {
    &::scroll-button(*) {
        position: fixed;
        position-anchor: --carousel;
        position-visibility: always;
        font-family: "Material Symbols Outlined";
        width: 30px;
        height: 30px;
        background: none;
        list-style: none;
        border: none;
      }
    
      &::scroll-button(right) {
        position-area: center center;
        justify-self: end;
        content: ">" / "Next";
      }
    
      &::scroll-button(left) {
        position-area: center center;
        justify-self: start;
        content: "<" / "Previous";
        background-image: "url()"; /* dit is voor het pijl icoontje */
        background-size: cover; /* dit is voor het pijl icoontje */
      }
}

main section:nth-of-type(3) ul li{
    scroll-snap-align: center;
    height: 20em;
    width: min(24em, 100%); /* geen media query nodig */
    flex-shrink: 0;
}

main section:nth-of-type(3) ul li img{
    max-width: 10vw;
    min-width: 5vw;
}

main section:nth-of-type(3) ul li a{
    color: var(--klikbaar) ;
}

footer {
    background-color: var(--zwart);
    color: var(--witte);
}

footer section {
    background-color: var(--zwart);
    padding: 5%;
}

footer section ul{
    padding: 0%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80vw;
}

footer section ul li{
    background-color: var(--zwart);
    padding: 5%;
}

footer section ul li a{
    color: var(--witte);
}