
section:nth-of-type(1) a{
    color: black;
    text-decoration: underline;
	text-decoration-color: #F2059F;
	text-underline-offset: .3em;
}

main > section:nth-of-type(1) {
    background: linear-gradient(180deg, #F2059F 80%, white 80%);
    position: relative;
    overflow: hidden;
    padding-bottom: 15rem;
}

main section:nth-of-type(1) img{
    border-radius: 85%;
    position: absolute;
    top: 0;
    right: -4rem;
    width: 50%;
}

main section:nth-of-type(1) section:nth-of-type(1) {
    padding: 7%;
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-top: 10rem;
    margin-inline: 2rem;
    margin-bottom: -13rem;
    position: relative;
    z-index: 1;
}

main section:nth-of-type(1) section:nth-of-type(1) h2{
    padding-bottom: 1.25rem;
    font-size: 2em;
    justify-content: flex-start;
}

main section:nth-of-type(2) {
    background-color: #05C7F2;
    color: white;
    padding: 1.25rem 1.25rem 2.5rem;
}

main section:nth-of-type(2) h2{
    padding-bottom: 1rem;
}

section:nth-of-type(2) form{
    display: flex;
    justify-content: center;
}

section:nth-of-type(2) input {
    width: 100%;
    height: 100%;
    border: solid 1px #e5e5e5;
    padding: 4%;
}

section:nth-of-type(2) ::placeholder{
    font-size: 1rem;
}

section:nth-of-type(2) button {
    border: solid 1px #F2059F;
    padding: 4%;
}

main section:nth-of-type(3) {
    padding: 10%;
}

main section:nth-of-type(3) h2{
    display: flex;
    justify-content: flex-start;
    padding: 3%;
}

main section:nth-of-type(3) ul li {
    background-color: whitesmoke;
    list-style: none;
    position: relative;
    padding: 1.875rem 1.25rem 2.5rem;
    margin-bottom: 1.25rem;
}

main section:nth-of-type(3) p{
    color: black;
}

main section:nth-of-type(3) h3{
    color: black;
}

main section:nth-of-type(3) ul {
    padding: 0%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

main section:nth-of-type(3) ul li{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px 0px;
}

main section:nth-of-type(3) img{
    border-radius: 0%;
}

main section:nth-of-type(3) ul li a p time{
    color: white;
    background-color:  #F2059F;
    position: absolute;
    top: 0;
    left: 2rem;
    padding: .5rem;
    border-radius: 0 0 3px 3px;
}

main section:nth-of-type(3) a:nth-of-type(4) {
    background-color: #F2059F;
    align-self: center;
}

main > section:nth-of-type(3) > a { 
    background-color:#F2059F ;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-right: 40%;
    margin-left: 40%;
    border-radius: 10px;
}

main section:nth-of-type(4) {
    padding: 0 20px 0 20px;
}

section:nth-of-type(4) img{
    border-radius: 50%;
    max-width: 80%;
}

section:nth-of-type(4) a{
    color: white;
    background-color: #F2059F;
    padding: 5%;
    display: block;
    margin: 20px;
    font-weight: bold;
}

footer section:nth-of-type(1){
    color: white;
    background-color:#F2059F;
    padding-top: 3.75rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

footer h2{
	padding: 0.75rem;
}
 
footer section:nth-of-type(1) ul{
	 display: flex;
	 justify-content: space-around;
	 padding: 0.5rem;
}
 
footer section:nth-of-type(1) ul li{
	 background-color: white;
	 border-radius: 25%;
	 width: 10%;
	 height: 10%;
	 list-style: none;
	 padding: 1rem;
}
 
footer section:nth-of-type(2) {
	 background-color: black;
	 padding: 5%;
}
 
footer section:nth-of-type(2) ul{
	 padding: 0%;
	 list-style: none;
	 display: flex;
	 flex-wrap: wrap;
	 justify-content: space-evenly;
}
 
footer section:nth-of-type(2) ul li{
	 background-color: black;
}
 
footer section:nth-of-type(2) ul li a{
	 color: white;
}
 
footer h2{
	 justify-content: flex-start;
}
 
 