/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--roze:deeppink; 
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/*waarom doet dit hieronder het niet*/
section:nth-of-type(1) a{
	text-decoration-color: deeppink;
	text-underline-offset: .3em;
}

nav {
	background-color: black;
	color: white;
}