/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  padding: 0;
  margin: 0;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--tekst:#111;
	--color-background:#eee;
	--klikbaar:#F2059F;  /* Ik wil dit wel doen alleen hij pakt hem niet overal in de css, dan zie ik geen kleurblokje verschijnen*/
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



body {
	font-family: 'noto_sans_bold', sans-serif;
}

.scroll-lock {
	overflow: hidden;
  }

/*waarom doet dit hieronder het niet*/
a {
	text-decoration: none;
	display: grid;
}

ul {
	list-style: none;
}

h2 {
    display: flex;
    justify-content: center;
}

img {
	max-width: 100%;
	display: block;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

  nav {
	background-color: black;

}

label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}
  
select {
    font-size: 0.9rem;
    padding: 2px 5px;
    background-color: black;
    border: solid black;
    color: white;
}

button:nth-of-type(1) {
    background-color: var(--klikbaar);
    color: white;
}

@media (hover: hover) {
	button:nth-of-type(1):hover { 
		background-color: white;
        color: black;
        transition: 0.8s;
	}
}


header {
    display: grid;
    grid-template-columns: max-content 1fr;
    background-color: black;
    position: relative;
    z-index: 10;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    padding-top: 10rem;
    translate: 100%;
    margin: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}



header img:hover {
	transform: none;
}

@media (hover: hover) { /*mdn*/
	header img:hover {
		transform: scale(1.1, 1.1); /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform */
	}
}

header nav a{
    min-width: 10px;
}

nav svg {
    fill: white;
    width: 20px;
    height: 20px;
}

@media (hover: hover) {
    /* when hover is supported */
    a:hover {
      color: var(--klikbaar);
      text-decoration: underline var(--klikbaar);
      transition: 0.8s;
    }
}

header nav ul:nth-of-type(1) li:nth-of-type(7) :hover{
    color: white;
}

@media (hover: hover) {
    /* when hover is supported */
    header nav ul:nth-of-type(1) li:nth-of-type(7) :hover {
      color: black;
      background-color: #e5e5e5;
      text-decoration: none;
      transition: 0.8s;
    }
}


header nav.open {
    translate: 0;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

header nav.open ul:nth-of-type(1) {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

header nav.open ul:nth-of-type(1) li{
   padding: 3%;
}

header nav.open ul:nth-of-type(2) {
    display: flex;
    flex-direction: column;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
} 


header nav.open select {
    display: flex;
    justify-content: center;
}

header nav ul:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

header nav ul:nth-of-type(2) {
    display: flex;
    gap: 3rem;
    justify-content: flex-end;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header button{
    justify-content: flex-end;
    padding: 5%;
    border-radius: 0.3rem;
    margin-left: auto;
    margin-right: 10px;
    width: max-content;
    display:grid;
    place-items:center;
}

header nav ul:nth-of-type(1) li:nth-of-type(7) {
    background-color:  var(--klikbaar);
    border-radius: 3%;
    width: 8%;
    display: flex;
    justify-content: center;
    padding: 0.1rem;
}

header nav ul:nth-of-type(1) li:nth-of-type(7) button:hover{
    background-color:  var(--klikbaar);
}



nav h2{
    justify-content: flex-start;
}

@media (min-width: 1100px) {
    header nav {
      position: static;
      height: auto;
      display: block;
      padding: 0;
      z-index: 0;
      translate: 0;
    }
  
    header nav.open {
      translate: 0;
    }
  
    header nav ul {
      justify-content: end;
      flex-direction: row;
    }
  
    header nav ul:nth-of-type(1) {
      flex-direction: row;
    }

    header nav ul:nth-of-type(2) {
        flex-direction: row;
    }
  
    header button {
      display: none;
    }
  }

header a{
    display: block;
    color: white;
}

header img{
    display: block;
    height: 30px;
    aspect-ratio: 1;
    align-self: end;
    background-color: black;
    width: 200px;
    margin: 20px;
}

footer h2{
	padding: 0.75rem;
}
 
time {
	 color: white;
}
 
 