/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--roze:deeppink; 
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


/*waarom doet dit hieronder het niet*/


img {
	max-width: 100%;
}